$yellow: yellow
$blue: blue
$green: green
$primary-color: $blue
$secondary-color: $yellow

$sans-serif: Arial, sans-serif
div
    border: 5px solid $green
    font-family: $sans-serif
    color: $primary-color
    background-color: $secondary-color
    p
        color: $secondary-color
    
