#elementToAnimate{
    position: relative;
    /* animation: yourAnimation 5s linear 0s infinite normal none; */
    animation-name: yourAnimation;
    animation-duration: 5s;
    animation-timing-function:  linear;
    animation-iteration-count:  infinite;
    animation-duration: normal;
    animation-fill-mode: none;
}
@keyframes yourAnimation{
    0%{
        transform: translate(0,0) rotate(0deg) scale(8);
    }
    20%{
        transform: translate(50px,0) rotate(90deg) scale(8);
        color: blue;
    }
    25%{
        transform: translate(50px,50px) rotate(90deg) scale(8);
    }
    40%{
        transform: translate(150px,150px) rotate(0deg) scale(7);
    }
    45%{
        transform: translate(150px,0) rotate(0deg) scale(7);
    }
    60%{
        transform: translate(350px,0) rotate(0deg) scale(6);
    }
    65%{
        transform: translate(350px,50px) rotate(0deg) scale(6);
    }
    80%{
        transform: translate(550px,50px) rotate(0deg) scale(5);
    }
    85%{
        transform: translate(550px,0) rotate(0deg) scale(4);
    }
    95%{
        transform: translate(650px,0) rotate(0deg) scale(3);
    }
    100%{
        transform: translate(1900px,0) rotate(0deg) scale(2);
    }
}